<footer class="pt-4 pt-5 position-relative">
  <img class="position-absolute" src="../../../assets/images/whole_curcle_icon.webp" alt="">
  <div class="container">
    <div class="row">
      <div class="one col-lg-3 col-md-6 col-sm-12">
        <h2>THE BONDERS ARE</h2>
        <p>A bonded family that mix and match creativity and commitment to help brands go beyond the limit</p>
      </div>
      <div class="two col-lg-3 col-md-6 col-sm-12">
        <h2>GET IN TOUCH</h2>
        <ul>
          <li class="d-flex"><div class="icon pe-2"><img src="../../../assets/images/icons/mobile_icon.png" alt=""></div><p>+2 - 01021551322</p></li>
          <li class="d-flex"><div class="icon pe-2"><img src="../../../assets/images/icons/envelope_icon.png" alt=""></div><p>Bonder@digitalbondmena.com</p></li>
          <li class="d-flex"><div class="icon pe-2"><img src="../../../assets/images/icons/pin_map_icon.png" alt=""></div><p>11 Dr El-Sebaey, Ad Dokki, Giza Governorate </p></li>
        </ul>
      </div>
      <div class="three col-lg-2 col-md-6 col-sm-12">
        <h2>EXPLORE</h2>
        <!-- Links -->
      <ul class="links m-0">
        <li class="px-3">
          <a routerLink="/" class="text-decoration-none text-uppercase">Home</a>
        </li>
        <li class="px-3">
          <a routerLink="/" class="text-decoration-none text-uppercase">About</a>
        </li>
        <li class="px-3">
          <a routerLink="/" class="text-decoration-none text-uppercase">Services</a>
        </li>
        <li class="px-3">
          <a routerLink="/" class="text-decoration-none text-uppercase">Careers</a>
        </li>
        <li class="px-3">
          <a routerLink="/" class="text-decoration-none">Say Hello</a>
        </li>
      </ul>
      <!-- Links -->
      </div>
      <div class="four col-lg-4 col-md-6 col-sm-12">
        <h2>KEYWORDS</h2>
        <ul class="d-flex flex-wrap">
          <li>Go back home? </li>
          <li>Social Media </li>
          <li>Want to join us </li>
          <li>LET'S TALK </li>
          <li>Mobile Apps </li>
          <li>SMS Campaigns </li>
          <li>Want to know more about us </li>
        </ul>
      </div>
    </div>
    <div class="foot mt-2 text-center pb-2">
      Copyright &copy; 2022  <img style="width: 40px;height: 30px;" src="../../../assets/images/icons/logo_black.webp" alt="">
      . All rights reserved
    </div>
  </div>
</footer>
